<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="Navbar">
        <div id="logo">

        </div>

        <div id="menu-links">
            <li><a href="#">{props.l1}</a></li>
            <li><a href="#">{props.l2}</a></li>
            <li><a href="#">{props.l3}</a></li>
            <li><a href="#">{props.l4}</a></li>
            <li><a href="#">{props.l5}</a></li>
        </div>
    </div>


    <div id="herosection">
        <api>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</api>
    </div>
    
</body>
</html>