/* #1abc9c */

body{
    font-family: "Quicksand" , sans-serif ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h2 {
    /* font-family: "Mozilla Headline", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.quicksand-font {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/*
.mozilla-headline {
    font-family: "Mozilla Headline", sans-serif;
     font-weight: 400; 
}
*/
footer p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h4 {
    /* font-family: "Mozilla Headline", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#bookTable-section {
    scroll-margin-top: 0px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -7px;
}

#hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 640px){
    #hero-section::before{
    background: linear-gradient(to bottom, 
     rgba(0, 0, 0, 0.6) 0%,
     rgba(0, 0, 0, 0.6) 55%,
     rgba(0, 0, 0, 0.1) 100%
    );
    }
}

@media  screen and (max-width:360px) {

    form #personal-details {
        width: 310px;
    }

    form #booking-details {
        width: 310px;
    }
    
}