@import "tailwindcss";

@font-face {
    font-family: "Quicksand";
    src: url("/public/fonts/Quicksand-VariableFont_wght.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}